<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">

  <footer style="background-color: #eee6d3;">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4">
          <h5 class="mb-3 text-dark" style="font-family: 'Anton', sans-serif; ">Marcos Kalebe Advocacia</h5>
          <p>
            Entre em contato conosco, <br> agende uma consulta conosco <br> agora mesmo.
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="mb-3 text-dark">links</h5>
          <ul class="list-unstyled mb-0">
            <li class="mb-1">
              <a href="#!" style="color: #4f4f4f; text-decoration: none;" [routerLink]="['contact']">Contato</a>
            </li>
            <li class="mb-1">
              <a href="https://www.instagram.com/m_kalebe23/" target="_blank" style="color: #4f4f4f; text-decoration: none;">Instagram</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="mb-1 text-dark">Horários</h5>
          <table class="table" style="border-color: #666;">
            <tbody>
              <tr>
                <td>Seg - Sex:</td>
                <td>8am - 6pm</td>
              </tr>
              <tr>
                <td>Sab</td>
                <td>8am - 12am</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-dark" style="text-decoration: none;" href="https://www.github.com/diogodvs"> < dvsdevx /> </a>
    </div>
    <!-- Copyright -->
  </footer>
  
</div>
<!-- End of .container -->