<link rel="stylesheet" href="nav-bar.component.css">

<nav class="navbar navbar-expand-lg navbar-light mb-5" style="background-color: #e3f2fd;">
    <div class="nav navbar-nav container-fluid ">
      <div class="d-flex">
        <img src="/assets/images/LogoKalebeScontorno.png" alt="logo" width="60" height="60" class="">
        <a class="nav-item nav-link" [routerLink]="['home']">Marcos Kalebe Advocacia</a>
      </div>

      <div class="d-flex ">
        <a class="nav-link" [routerLink]="['home']">Home</a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-item d-flex gap-2 align-items-center" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Areas de Atuação
          </a>
          <ul class="dropdown-menu pd-0" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item d-flex" [routerLink]="[ 'prev' ]" routerLinkActive="active">Direito Previdenciário</a></li>
            <li><a class="dropdown-item d-flex" [routerLink]="[ 'trab' ]" routerLinkActive="active">Direito Trabalhista</a></li>
            <li><a class="dropdown-item d-flex" [routerLink]="[ 'cons' ]" routerLinkActive="active">Direito do Consumidor</a></li>
          </ul>
        </li>
        <a class="nav-link" [routerLink]="['about']">Sobre</a>
        <a class="nav-link" [routerLink]="['contact']" > Contato</a>
      </div>
    </div>

</nav>



