<section>
  <div class="img">
    <img src="assets/images/principles/image-1.jpg" alt="Principios">
  </div>
  <div class="container">
    <div>
      <h2>Missão</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores,
        est odio? Sequi, eligendi sint illum, doloribus libero laudantium eum
        accusantium ipsa quo molestias asperiores soluta, quae omnis porro odio
        suscipit?
      </p>
    </div>
    <div>
      <h2>Visão</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores,
        est odio? Sequi, eligendi sint illum, doloribus libero laudantium eum
        accusantium ipsa quo molestias asperiores soluta, quae omnis porro odio
        suscipit?
      </p>
    </div>
    <div>
      <h2>Valores</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores,
        est odio? Sequi, eligendi sint illum, doloribus libero laudantium eum
        accusantium ipsa quo molestias asperiores soluta, quae omnis porro odio
        suscipit?
      </p>
    </div>
  </div>
</section>
