<section>
  <div class="img">
    <img src="assets/images/principles/image-1.jpg" alt="Principios">
  </div>
  <div class="container">
    <div class="principles">
      <h2>Missão</h2>
      <p>
        Dispor serviço advocatício com caráter humanizado e individualizado por meio virtual para resolução dos litígios de nossos clientes. 
      </p>
    </div>
    <div class="principles">
      <h2>Visão</h2>
      <p>
        Aperfeiçoamento da aplicação do Direito a população de forma democrática e transparente, onde o cliente compreende em qual contexto está inserido em suas questões que levaram a requerer o serviço advocatício. 
      </p>
    </div>
    <div class="principles">
      <h2>Valores</h2>
      <p>
        A valorização da pessoa e bem-estar em seu atendimento, bem como o comprometimento de prestar o serviço contratado de maneira justa e verdadeira para que haja o real esclarecimento ao interessado.
      </p>
    </div>
  </div>
</section>
