<section>
  <!-- <img src="assets/images/why-choose/image-1.jpg" class="d-block w-100" alt="..."> -->
  <div class="content">

    <h2>Por que escolher <strong>MK</strong> Advocacia?</h2>
    <ul>
      <li>
        Somos focados em resultados, na personalização de cada demanda jurídica
        para atender a rotina e as necessidades de nossos casos.
      </li>
      <li>
        Somos focados em resultados, na personalização de cada demanda jurídica
        para atender a rotina e as necessidades de nossos casos.
      </li>
      <li>
        Somos focados em resultados, na personalização de cada demanda jurídica
        para atender a rotina e as necessidades de nossos casos.
      </li>
      <li>
        Somos focados em resultados, na personalização de cada demanda jurídica
        para atender a rotina e as necessidades de nossos casos.
      </li>
      <li>
        Somos focados em resultados, na personalização de cada demanda jurídica
        para atender a rotina e as necessidades de nossos casos.
      </li>
      <li>
        Somos focados em resultados, na personalização de cada demanda jurídica
        para atender a rotina e as necessidades de nossos casos.
      </li>
      <li>
        Somos focados em resultados, na personalização de cada demanda jurídica
        para atender a rotina e as necessidades de nossos casos.
      </li>
    </ul>
  </div>
</section>
