<!-- <section>
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/images/carousel/image-1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/carousel/image-2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/carousel/image-3.jpeg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</section> -->
<section>
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>

    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="assets/images/carousel/image-1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block center">
          <h5>Advocacia com comprometimento, qualidade e segurança</h5>

        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="assets/images/carousel/image-2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Persistência</h5>
          <p>Ser persistente em todas as ações, desistir jamais</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="assets/images/carousel/image-3.jpg" class="d-block w-100" alt="Qualidade">
        <div class="carousel-caption d-none d-md-block">
          <h5>Qualidade</h5>
          <p>Nosso padrão é dar o melhor atendimento, com clareza, objetividade e comprometimento total com o trabalho</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="assets/images/carousel/image-4.jpg" class="d-block w-100" alt="Lealdade">
        <div class="carousel-caption d-none d-md-block">
          <h5>Lealdade</h5>
          <p>Lealdade a si mesmo e ao outro.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="assets/images/carousel/image-5.jpg" class="d-block w-100" alt="Etica">
        <div class="carousel-caption d-none d-md-block">
          <h5>Ética</h5>
          <p>Atuar de forma ética é ser íntegro, transparente e responsável.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="assets/images/carousel/image-6.jpg" class="d-block w-100" alt="Dedicação">
        <div class="carousel-caption d-none d-md-block">
          <h5>Dedicação</h5>
          <p>Praticar a advocacia com dedicação, prazer e alegria</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
